*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
   background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav h2{
    color:black;
    font-size:35px;
}
nav a{
    text-decoration: none;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: black;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    /* background: white; */
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    
}
.hero-btn:hover{
    border: 1px solid black;
    background: rgb(39, 161, 58);
    transition: 1s;
    color:black;
    border-radius: 5px;
}

nav .fa{
    display: none;
}
/* popular test */
.cate{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 35px;
}
h1{
    font-size: 34px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 8px;
}
.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.cate-col{
    flex-basis: 31%;
    background: wheat;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 0 20px 0px aqua;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.cate-col:hover{
    box-shadow: 0 0 20px 0px orangered;
}
.other a{
    text-align: center;
    font-size: 18px;
    color: blue;
}


/* Course section*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.course-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: -2px 0 20px 0px aqua;
}
.course-col img{
    width: 100%;
    height: 100%;
    display: block;
}

/* Our free course */
.free{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.free-col{
    flex-basis:31% ;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.free-col img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: -2px 0 20px 0px black;
}
.free-col p{
    padding: 0;
}
.free-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* student section */

.student{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.student-col{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 22px;
    cursor: pointer;
    display: flex;
}
.student-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.student-col p{
    padding: 0;
}
.student-col h3{
    margin-top: 15px;
    text-align: left;
}
.student-col .fa{
    color: gold;
}


/* call to action */
.cta{
    margin: 0px auto;
    width: 80%;
    background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0;
}
.cta h1{
    color: black;
    margin-bottom: 40px;
    padding: 0;
}


/* footer */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.space{
    background-color: black;
    width: 100wh;
    height: 25px;
}

/* footer ion section */
.icon .fa{
    color: orangered;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: orangered;
}




/* for responsive */
@media(max-width:700px){
.text-box h1{
        font-size: 28px;
    }
.nav-links ul li{
    display: block;
}
.nav-links{
    position: absolute;
    background: aqua;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
}
nav .fa{
    display: block;
    color: black;
    margin: 10px;
    font-size: 23px;
    cursor: pointer;
}
.nav-links ul{
    padding: 25px;
}




/* test section */
.row{
    flex-direction: column;
}


/*  for customer section */
.customer-col img{
    margin-left: 0px;
    margin-right: 0px;
}


/* call for action */
 .cta h1{
    font-size: 24px;
 }
}